<h2>Missing Podcast Episodes?</h2>
<p>Are you missing podcast episodes and aren't sure if it's your podcast player or your RSS feed?</p>
<p>Enter the podcast feed URL here and we'll help you troubleshoot.</p>
<%= form_with url: '/check/results', method: :post, id: "feed_check", locals: true do |f| %>
  <%= f.text_field 'url', style: 'width: 100%;' %><br /><br />
  <p class="blue-glow w-1/4 text-center bg-dark-blue uppercase text-sm  text-white font-bold py-2 px-4" onClick="document.getElementById('feed_check').submit()">Check Feed</p>
  <%= f.submit value: "Check Feed", style: "display: none"%>
<% end %>