<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:googleplay="http://www.google.com/schemas/play-podcasts/1.0">
<channel>
  <title><%= @mini_feed.feed_name %></title>
  <image>
    <url><%= @mini_feed.image.url %></url>
  </image>
  <% @episodes.each do |episode| %>
    <%= episode.to_xml.html_safe %>
  <% end %>
</channel>
</rss>