<div class="z-50 w-full bg-dark-blue flex flex-wrap items-center justify-between px-2 py-3 main-footer">
  <div class="flex justify-between lg:w-auto lg:static lg:block lg:justify-start px-20">
    <a class="text-m font-bold leading-relaxed inline-block px-2 py-2 whitespace-nowrap uppercase text-slate-700" href="/contact" style="color: white">Contact</a>
    <a class="text-m font-bold leading-relaxed inline-block px-2 py-2 whitespace-nowrap uppercase text-slate-700" href="/legal" style="color: white">Legal</a>
  </div>
      
  <div class="flex justify-between lg:w-auto lg:static lg:block lg:justify-end px-20">
    <span class="flex-end">
      <a class="text-m font-bold leading-relaxed inline-block px-2 py-2 whitespace-nowrap uppercase text-slate-700" style="color: white" 
        href="https://www.buymeacoffee.com/mini.cast" target="_blank">
        Like the site? Buy me a coffee
      </a>
    </span>
  </div>
</div>