<% content_for :breadcrumbs do %>
  <%= build_breadcrumbs([ [nil, "Dashboard"] ]).html_safe %>
<% end %>
<div class="flex flex-row flex-wrap w-full">
  <% if !@feeds.empty? %>
    <% @feeds.each do |feed| %>
        <%= render partial: "/shared/card", locals: { feed: feed, path: main_feeds_url(identifier: feed.identifier) } %>
    <% end %>
  <% end %>
    <a class="flex lg:w-1/3 md:w-1/2 sm:w-full m-auto h-full mb-4 p-2 align-top" href="<%= new_main_feed_path %>">
      <div class="card w-full shadow m-auto px-4 py-4">
      <div style="width: 100%; padding-bottom: 100%; background-image: url('/img/circle-plus.svg'); background-size: contain; background-repeat: no-repeat;">
      </div>
        <div class="p-2">
          <div class="text-xl text-center" style="min-height: 3em;">Add New Podcast</div>
          <div class="text-sm">&nbsp;</div>
        </div>
      </div>
    </a>
</div>