<section class="header relative items-center flex flex-row">
  <div class="container mx-auto items-center flex">
    <div class="w-1/2 md:w-full sm:w-full px-4">
      <div class="mr-8 sm:pt-0">
        <h2 class="font-semibold text-4xl text-slate-600">Something went wrong!</h2>
        <p class="mt-4 text-lg leading-relaxed text-slate-500">
          We're sorry, but something went wrong.  We're not sure what, but the error has been logged and we'll look in to it.
        </p>
        <p class="mt-4 text-lg leading-relaxed text-slate-500">
         It would really help us out to know what caused the error.  If you would like, please <a href="/contact">leave us some feedback.</a></p>
      </p>
      </div>
    </div>
    <div class="h-full align-center justify-center items-center pt-4">
      <img class="" src="/img/podcast.svg" style="height: 300px;"/>
    </div>
  </div>
</section>
