<section class="header relative items-center flex flex-row">
  <div class="container mx-auto items-center flex">
    <div class="w-1/2 md:w-full sm:w-full px-4">
      <div class="mr-8 sm:pt-0">
        <h1 class="font-semibold text-4xl text-slate-600">An intelligent podcast sorter.<span class="text-sm text-orange" style="position: relative;top:-12px">(Beta)</span></h1>
        <p class="mt-4 text-lg leading-relaxed text-slate-500">
          Take a podcast with multiple shows and sort the episodes into individual feeds for your podcast player of choice.
        </p>
      </div>
    </div>
    <div class="h-full align-center justify-center items-center pt-4">
      <img class="" alt="Podcast logo" src="/img/podcast.svg" style="height: 300px;"/>
    </div>
  </div>
</section>
<div class="ml-4">
  <a class="text-white font-bold px-6 py-4 mr-1 mb-1 bg-orange uppercase text-sm shadow hover:shadow-lg ease-linear transition-all duration-150" style="color: white" href="/register">Get started</a>
</div>

<section class="w-full flex flex-row mt-32 home-info">
  <div class="flex p-2 info-box">  
    <div class="p-2 text-slate-500" style="box-shadow: 0 5px 15px rgba(18, 87, 127, .4);">
      <p>Works with your podcast player of choice--- it's just a different RSS feed.</p>
    </div>
  </div>
  <div class="flex p-2 info-box">
    <div class="shadow p-2 text-slate-500" style="box-shadow: 0 5px 15px rgba(18, 87, 127, .4);">
      <p>It's always up to date. All shows update whenever your podcast player updates.</p>
    </div>
  </div>
  <div class="flex p-2 info-box">
    <div class="shadow p-2 text-slate-500" style="box-shadow: 0 5px 15px rgba(18, 87, 127, .4);">
      <p>Sort a podcast by publication date, words in the title, or iTunes seasons.</p>
    </div>
  </div>
  <div class="flex p-2 info-box">
    
    <div class="shadow p-2 text-slate-500" style="box-shadow: 0 5px 15px rgba(18, 87, 127, .4);">
      <p>Add custom your own artwork for your podcast player. &nbsp; &nbsp; &nbsp; &nbsp;
      &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;</p>
    </div>
  </div>
  
</sction>