<p>Logged in as <%= current_user.email %></p>
<% if @feeds.empty? %>
  <p>No feeds loaded yet.  <a href="<%= new_main_feed_path %>">Load one?</a></p>
<% end %>
<% if !@feeds.empty? %>
  <% @feeds.each do |feed| %>
    <li><%= link_to feed.name, main_feeds_url(identifier: feed.identifier) %></li>
  <% end %>
<% end %>