<% if @feeds.empty? %>
  <p>No feeds loaded yet.  <a href="<%= new_main_feed_path %>">Load one?</a></p>
<% end %>
<% if !@feeds.empty? %>
  
  <% @feeds.each do |feed| %>
    <a href="<%= main_feeds_url(identifier: feed.identifier) %>">
      <%= render partial: "/shared/card", locals: { feed: feed } %>
    </a>
  <% end %>
<% end %>