<h2>Content</h2>
<p>This site, <a href="/">minicast.app</a>, is a podcast feed/RSS reader.  That's is.  All of the content is owned by the content
creators. <a href="/">minicast.app</a> does not own any of the feeds read or artwork uploaded.</p>
<h2>Credits</h2>
<ul>
  <li>Theme taken from the <a href="https://github.com/creativetimofficial/tailwind-starter-kit">Tailwind Starter Kit</a></li>
  <li>Icons from <a href="https://fontawesome.com" target="_blank">FontAwesome free</a></li>
  <li>Color pallet generated from <a href="https://colors.muz.li" target="_blank">colors.mus.li</a></li>
</ul>
<h2>Terms of Use</h2>
<p>This is a side project for me.  Please don't make me take the site down or ban your user for doing things that are annoying or illegal.</p>

<p>By using this site, you agree to:</p>
<ul>
  <li>Use only accounts to which you have legal access.</li>
  <li>Only access content which is publically available or which you have paid for legal access.</li>
  <li>Not share or redistribute content which you do not own.</li>
</ul>
<p><a href="/terms">View the full terms of use</a></p>
<h2>Privacy Policy</h2>
<p>Again, this is a side project. I hope some other people find it useful.</p>
<p>Just to be safe:</p>
<ul>
  <li>I will only collect information necessary to operating your account.  This includes using first party cookies.</li>
  <li>I do use third party networks to provide account validation.</li>
  <li>I do not advertise, link to advertising networks, or share your information with advertising networks.</li>
  <li>I will respond to all legal inquiries through https://minicast.app/contact.</li>
</ul>
<p><a href="/privacy">View the full privacy policy</a></p>
