
<p>Use your Google account to sign up or sign in to the app.</p>
<%= link_to "Launch with Google", user_google_oauth2_omniauth_authorize_path, style: "color: white", class: "card w-1/4 text-center bg-dark-orange text-sm uppercase text-white font-bold py-2 px-4" %>
