<div style="text-align: center">
  <p>It looks like you are setting up <b><%= @known_feed.name %></b>.</p>
  <p>Would you like to set up these mini casts?  You can add more or remove any you don't want later.</p>
</div>
<div class="w-full flex flex-row items-center mt-4 mb-4 justify-center">
  <a href="/feeds/<%= @main_feed.identifier %>/setup_known_feed" class="mr-16 p-4 px-6 rounded rounded-full" style="background-color: #1ac0c6; color: white">Yes, set up these casts</a>
  <a href="<%= main_feeds_url(identifier: @main_feed.identifier) %>" class="p-4 px-6 rounded rounded-full" style="background-color: #dee0e6; color: black">No, I will set them up manually</a>
</div>
<div class="flex flex-row flex-wrap w-full">
  <% @mini_feeds.each do |feed| %>
    <%= render partial: "/shared/card", locals: { feed: feed, path: '' } %>
  <% end %>
</div>