<% content_for :breadcrumbs do %>
  <%= build_breadcrumbs([ ["/dashboard", "Dashboard"], [nil, @main_feed.name] ]).html_safe %>
<% end %>
<div class="flex flex-row flex-wrap w-full">
  <% @mini_feeds.each do |feed| %>
    <%= render partial: "/shared/card", locals: { feed: feed, path: mini_feed_path(identifier: @main_feed.identifier, id: feed.id) } %>
  <% end %>
  <div class="flex lg:w-1/3 md:w-1/2 sm:w-full m-auto h-full mb-4 p-2 align-top" href="">
      <div class="border border-black w-full h-full m-auto p-2">
      <a href="<%= new_mini_feed_path(identifier: @main_feed.identifier) %>">
        <div style="width: 100%; padding-bottom: 100%; background-image: url('/img/plus.png'); background-size: contain; background-repeat: no-repeat;">
        </div>
       </a>
        <div class="p-2">
          <div class="text-xl text-center" style="min-height: 3em;">Add New Mini Cast</div>
          <div class="text-sm">&nbsp;</div>
          <textarea class="text-sm border border-black w-full px-2" style="visibility: hidden"></textarea>
        </div>
      </div>
    </div>
</div>

